@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
:root {
  --primary-color: #dbe4ee;
}

body {
  background-color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}
@media only screen and (max-width: 600px) {
  body {
    overflow: visible !important;
  }
}
#loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
#loginComponentsContainer {
  width: 600px;
  height: 375px;
}
small {
  font-size: 16px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 20px 25px;
  margin-bottom: 30px;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #dbe4ee;
  box-sizing: border-box;
  border-radius: 9px;
}

input:focus {
  outline-color: #f17300;
  transition: 0.4s;
}
input {
  outline-color: #dbe4ee;
}

button {
  background-color: #f17300;
  color: white;
  padding: 14px 40px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: fit-content;
  border-radius: 9px;
  transition: 0.3s;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

#add-card-form {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.86;
  z-index: 1000000;
  display: none;
  cursor: pointer;
}
