.upload-image-indicator:hover::after
{
    content: "Upload picture \a 200x200";
    white-space: pre;
    width: 100%;
    text-align: center;
    pointer-events: none;
    height: 100%;
    display: grid;
    place-items: center;
    animation: fadein .3s;
}
#profile-pic
{
    background-size: cover;
}


@keyframes fadein
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
